.container {
	background-color: #00b62e;
	padding: 5px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.active {
	color: yellow;
	text-decoration: underline;
}

.container a{
	transition: color 0.4s;
}

.container a:hover {
	color: rgb(255, 200, 0);
	transition: color 0.4s;
}