.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	align-items: center;
	width: 100%;
	max-width: 500px;
	font-family: sans-serif;
}

.info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #a5d6a7;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	padding: 10px 16px;
	background-color: #ffffff;
}

.section1 {
	display: flex;
	align-items: center;
	gap: 12px;
}

.section1 img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #4caf50;
}

.name {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: left;
}

.section1 div>div:first-child {
	font-weight: bold;
	color: #388e3c;
	font-size: 16px;
}

.section1 div>div:last-child {
	color: #757575;
	/* сірий */
	font-size: 14px;
}

.section1 div>div:last-child::before {
	content: 'Предмет: ';
	font-weight: bold;
	color: #424242;
}

.section2 button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 6px 14px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
}

.section2 button:hover {
	background-color: #388e3c;
}

.card {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-wrap: wrap;
	border: 3px solid green;
	padding: 20px;
}

.card__image {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
}

.card__button {
	padding: 12px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: blue;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
}

.buttons a {
	background-color: #009dff;
	color: #ffffff;
	border-radius: 4px;
	padding: 10px 15px;
	border: none;
	font-size: 14px;
	transition: background-color 0.4s;
	width: 48%;
}

.buttons a:hover {
	background-color: #0072ba;
	transition: background-color 0.4s;
}
.buttons button {
	background-color: rgba(255, 2, 2, 0.651);
	transition: background-color 0.4s;
	width: 48%;
}
.buttons button:hover {
	background-color: rgba(178, 0, 0, 0.784);
	transition: background-color 0.4s;
}
